body {
  background-color: #f5f5f5;
}
.header {
  margin-bottom: 24px;
}
.header .top {
  height: 36px;
  line-height: 36px;
  color: #6c6c6c;
  font-size: 12px;
}
.header .top .left li {
  float: left;
  margin-right: 7px;
}
.header .top .right {
  float: right;
}
.header .top .right li {
  float: left;
  padding: 0 6px;
}
.header .top i {
  padding: 0 7px;
  font-size: 12px;
}
.header .bottom {
  height: 80px;
  background-color: #fff;
}
.header .bottom h1 {
  float: left;
  margin-top: 10px;
}
.header .bottom h1 a {
  display: inline-block;
  width: 142px;
  height: 58px;
  background: url(../../../public/images/index/logo.png) no-repeat;
  background-size: 142px 58px;
}
.header .bottom .input {
  float: right;
  position: relative;
  margin-top: 20px;
  width: 430px;
  height: 42px;
  border-radius: 20px;
  background-color: #f5f5f5;
}
.header .bottom .input span {
  display: inline-block;
  line-height: 45px;
  text-align: center;
  width: 104px;
  height: 42px;
  font-size: 12px;
  color: #000;
  border-radius: 20px;
}
.header .bottom .input span i {
  padding: 0 5px;
}
.header .bottom .input input {
  position: absolute;
  right: 81px;
  width: 236px;
  height: 40px;
  background-color: #ebebeb;
  border: none;
}
.header .bottom .input button {
  position: absolute;
  right: 0;
  width: 81px;
  height: 38px;
  border-radius: 20px;
  background-color: #ff5000;
  font-size: 18px;
}
main .allResults {
  margin-bottom: 20px;
  font-size: 14px;
}
main .items {
  box-sizing: border-box;
  height: 300px;
  border: 1px solid #ddd;
  border-bottom: none;
}
main .items .item1 {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #ddd;
}
main .items .item1 .left {
  float: left;
  width: 125px;
  height: 120px;
  background-color: #ebebeb;
  text-align: center;
  line-height: 120px;
}
main .items .item1 .right {
  float: right;
  margin-right: 20px;
  width: 1050px;
  height: 120px;
}
main .items .item1 .right ul {
  margin-left: 10px;
  width: 1050px;
  height: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
main .items .item1 .right ul li {
  float: left;
  width: 114px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
}
main .items .item1 .right ul li img {
  width: 102px;
  height: 36px;
}
main .items .item2,
main .items .item3,
main .items .item4,
main .items .item5,
main .items .item6 {
  width: 100%;
  height: 34px;
  line-height: 34px;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
}
main .items .item2 .left,
main .items .item3 .left,
main .items .item4 .left,
main .items .item5 .left,
main .items .item6 .left {
  float: left;
  width: 125px;
  height: 34px;
  background-color: #ebebeb;
  text-align: center;
}
main .items .item2 .right a,
main .items .item3 .right a,
main .items .item4 .right a,
main .items .item5 .right a,
main .items .item6 .right a {
  color: #005aa0;
  padding-left: 25px;
}
main .mainBox {
  width: 1300px;
  height: 2600px;
}
main .mainBox .mainBoxLeft {
  margin-right: 10px;
  padding-left: 5px;
  float: left;
  width: 193px;
}
main .mainBox .mainBoxLeft ul {
  padding: 10px 13px 0;
  border: 1px solid #d8d4d4;
}
main .mainBox .mainBoxLeft ul span {
  font-size: 14px;
  color: #a8a7a7;
}
main .mainBox .mainBoxLeft ul b {
  float: right;
  font-weight: 400;
  font-size: 12px;
  color: #ddd;
}
main .mainBox .mainBoxLeft ul li {
  margin-top: 20px;
}
main .mainBox .mainBoxLeft ul li .price {
  font-size: 14px;
  color: #e4393c;
  padding-left: 10px;
}
main .mainBox .mainBoxLeft ul li h4 {
  font-weight: 400;
  padding: 15px 0 15px 10px;
  font-size: 12px;
  color: #666;
}
main .mainBox .mainBoxLeft ul li p {
  padding-left: 10px;
  font-size: 12px;
  color: #666;
}
main .mainBox .mainBoxLeft ul .first {
  margin-top: 10px;
}
main .mainBox .mainBoxRight {
  float: right;
  width: 1092px;
}
main .mainBox .mainBoxRight .mainTop {
  width: 993px;
  height: 78px;
}
main .mainBox .mainBoxRight .mainTop .mainTop1 {
  height: 38px;
  background-color: #d8d4d4;
}
main .mainBox .mainBoxRight .mainTop .mainTop1 ul {
  cursor: pointer;
  float: left;
  width: 360px;
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}
main .mainBox .mainBoxRight .mainTop .mainTop1 ul li {
  margin-left: 10px;
  float: left;
  font-size: 14px;
  padding: 5px 10px;
  background-color: #fff;
}
main .mainBox .mainBoxRight .mainTop .mainTop1 ul .comprehensive {
  background-color: #e4393c;
}
main .mainBox .mainBoxRight .mainTop .mainTop1 input {
  display: inline-block;
  margin-top: 4px;
  width: 30px;
  height: 25px;
}
main .mainBox .mainBoxRight .mainTop .mainTop1 .right {
  cursor: pointer;
  float: right;
  font-size: 14px;
  color: #a8a7a7;
}
main .mainBox .mainBoxRight .mainTop .mainTop1 .right span {
  margin-top: 10px;
  display: inline-block;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 18px;
  background-color: #fff;
  border: 1px solid #a8a7a7;
}
main .mainBox .mainBoxRight .mainTop .mainTop2 {
  padding-left: 20px;
  border: 1px solid #d8d4d4;
  border-top: none;
  height: 39px;
  line-height: 39px;
  font-size: 14px;
}
main .mainBox .mainBoxRight .mainTop .mainTop2 input {
  margin-right: 5px;
  vertical-align: baseline;
}
main .mainBox .mainBoxRight #mainCenter {
  margin-left: -18px;
}
main .mainBox .mainBoxRight #test1 {
  margin-top: 20px;
  float: right;
  margin-right: 200px;
}
main .mainBox .mainBoxRight #test1 .layui-box a {
  padding: 5px 30px;
}
main .mainBox .mainBoxRight #test1 .layui-box .layui-laypage-curr {
  padding: 5px 30px;
}
.fotter {
  padding-top: 20px;
  height: 150px;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
}
