* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

input {
	border: none;
}

a {
	text-decoration: none;
	color: #000;
}

img {
	vertical-align: middle;
}

/* index */
.w {
	width: 1190px;
	margin: 0 auto;
}

body {
	background-color: #f6e4e4;
	font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
}
.tonglan {
	position: absolute;
	top: 0;
	width: 100%;
	height: 26px;
	background-color: #f2f2f2;
	z-index: -1;
}
#site-nav {
	width: 1190;
	height: 26px;
	line-height: 26px;
	background-color: #f2f2f2;
	font-size: 12px;
	color: #999;
	font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB",
		"\5b8b\4f53", sans-serif;
}

#site-nav .index {
	margin-left: 120px;
}

#site-nav p {
	float: left;
	margin-right: 20px;
}

#site-nav a {
	font-size: 12px;
	color: #999;
	margin-right: 20px;
}

#site-nav ul {
	float: right;
	margin-right: 140px;
}

#site-nav ul > li {
	float: left;
	margin: 0 10px;
}

/* search */
.search {
	width: 100%;
	height: 77px;
	margin: 42px auto 0;
}

.search h1 {
	float: left;
	margin: 0 62px;
}

.search .logo {
	width: 87px;
	height: 53px;
}

.search > input {
	float: left;
	width: 630px;
	height: 40px;
	border: 1px solid red;
	border-radius: 20px;
	margin-left: 16px;
	margin-top: 8px;
	font-size: 12px;
	text-indent: 2em;
	color: #999;
}

.search > div {
	float: left;
	margin-left: -90px;
	margin-top: 8px;
	width: 90px;
	height: 42px;
	line-height: 42px;
	border-radius: 20px;
	background-color: #fe0137;
	text-align: center;
}

/* home */
.home {
	padding: 0 25px;
	background-color: #ffffff;
}

.homeTop {
	width: 100%;
	height: 43px;
}

.homeTop h2 {
	width: 212px;
	float: left;
	line-height: 43px;
	padding-top: 5px;
	font-size: 16px;
}

.homeTop img {
	width: 100px;
	height: 30px;
	margin: 1px 16px 0 0;
}

.homeTop span {
	line-height: 43px;
	margin-right: 16px;
}

.homeTop a {
	font-size: 14px;
	color: #000;
}
.homeContent {
	position: relative;
	width: 100%;
	height: 512px;
}

.homeContent .nav_left {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 0;
	width: 212px;
	height: 512px;
}

.homeContent .nav_left li {
	width: 212px;
	height: 32px;
}

.homeContent .nav_left li > a {
	font-size: 14px;
	color: #666;
}

.homeContent .box_c {
	width: 520px;
	height: 480px;
	margin-left: 212px;
}

.homeContent .slideshow_top {
	position: relative;
	width: 520px;
	height: 280px;
	background-color: #eee;
	margin-bottom: 32px;
}

.homeContent .slideshow_bot {
	position: relative;
	width: 520px;
	height: 200px;
	background-color: #eee;
}

.homeContent .slideshow_bot #bot_left {
	float: left;
	position: relative;
	width: 260px;
	height: 200px;
}

.homeContent .slideshow_bot #bot_right {
	float: left;
	position: relative;
	width: 260px;
	height: 200px;
}

.homeContent .box_items {
	position: absolute;
	top: 0;
	right: 0;
	width: 384px;
	height: 512px;
	background-color: #f3f3f3;
}

.box_items .icon {
	width: 384px;
	height: 126px;
	margin: 23px 152px 0;
}

.box_items .icon img {
	width: 80px;
	height: 80px;
	border-radius: 80px;
}

.box_items .icon p {
	margin-left: -152px;
	width: 384px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	font-size: 12px;
	color: #333;
}

.box_items .newOn {
	width: 384px;
	height: 146px;
}

.box_items .newOn img {
	width: 356px;
	height: 141px;
	margin-left: 14px;
}

.box_items .notice {
	width: 384px;
	height: 28px;
	margin-top: 27px;
	margin-left: 14px;
}

.box_items .notice span:nth-child(1) {
	font-size: 14px;
	font-weight: bold;
	margin-right: 6px;
}

.box_items .notice span:nth-child(2) {
	font-size: 14px;
	color: #666;
}

.box_items .step {
	width: 384px;
	height: 51px;
}

.box_items .step div {
	float: left;
	width: 60px;
	height: 50px;
	margin-right: 25px;
	margin-top: 20px;
	font-size: 12px;
	color: #333;
}

.box_items .step div:first-child {
	margin-left: 32px;
}

.box_items .step p:nth-child(odd) {
	height: 25px;
	background-image: url(../../../public/images/index/icon_notice.png);
	background-repeat: no-repeat;
}

.box_items .step .one {
	background-position: 15px -3px;
}

.box_items .step .two {
	background-position: -80px -3px;
}

.box_items .step .three {
	background-position: -170px -3px;
}

.box_items .step .four {
	background-position: -265px -3px;
}

/* goods */
.center_goods {
	background-color: #f6e4e4;
}
.center_goods .good_item {
	margin: 0 auto;
	width: 1190px;
	min-height: 1000px;
	margin: 0 auto 30px;
	background-color: #fff;
	border-top: 1px solid #ddd;
}
.center_goods .more {
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #000;
	background-color: #fff;
	border-top: 1px solid #ddd;
}
.center_goods .more .left {
	margin-left: 20px;
	float: left;
}
.center_goods .more .right {
	margin-right: 50px;
	float: right;
}
.center_goods .good_item li {
	float: left;
	width: 512px;
	height: 450px;
	margin: 20px;
}
/* 商品 */
.goods {
	width: 512px;
	height: 342px;
	padding: 12px 9px;
	margin: 0 30px;
	font: 12px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB,
		"\u5b8b\u4f53", sans-serif;
	color: #666;
	position: relative;
	float: left;
}

.goods:hover {
	box-shadow: 0px 0px 4px #ccc;
}

.goods > .iconImg {
	text-decoration: none;
	width: 100%;
	height: 342px;
	text-align: center;
	display: block;
	position: relative;
}

.goods > .iconImg > img {
	width: 512px;
	height: 342px;
}

.goods > .iconImg > .iconPromote {
	width: 220px;
	height: 45px;
	text-align: left;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
}

.goods > .iconImg > .iconPromote > img {
	margin-left: 10px;
	vertical-align: middle;
}

.goods > .iconImg .iconPromoteTxt {
	line-height: 45px;
	color: white;
	margin-left: 10px;
}

.goods > .iconList {
	margin-left: 2px;
}

.goods > .iconList > img {
	float: left;
	/* #e4393c */
	border: 1px solid #ddd;
	padding: 1px;
	width: 25px;
	height: 25px;
	margin: 2px;
}

.clear::after {
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
	visibility: hidden;
}

.goods > .priceCon {
	font-size: 18px;
	color: #e4393c;
	margin: 0;
	margin-top: 8px;
	height: 50px;
	line-height: 50px;
}

.goods > .priceCon > i {
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	font-family: Verdana;
}

.goods > .titleCon {
	width: 220px;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
	margin-top: 8px;
	padding: 0;
}

.goods > .titleCon > .titleIcon {
	float: left;
	padding: 0 3px;
	margin-top: 2px;
	margin-right: 3px;
	overflow: hidden;
	color: #fff;
	font: 18px/40px "Helvetica Neue", "Hiragino Sans GB", SimSun, serif;
	background: #c81623;
	border-radius: 2px;
}

.goods > .titleCon > a {
	display: inline-block;
	text-decoration: none;
	color: #666;
	font-size: 16px;
}

.goods > .titleCon > a:hover {
	color: #c81623;
}

.goods > .info {
	margin: 0;
	margin-top: 8px;
}

.goods > .info > .infoitem {
	float: left;
	height: 19px;
	line-height: 19px;
	padding: 0 6px;
	margin-right: 7px;
	color: #999;
	background: #f4f4f4;
	text-decoration: none;
}

.goods > .info > .infoitem:hover {
	color: #c81623;
}

.goods > .judgeCon {
	margin-top: 8px;
}

.goods > .judgeCon > .judge {
	color: #646fb0;
	font-family: verdana;
	font-weight: 700;
}

.goods > .shoppingCon {
	margin-top: 8px;
	margin-bottom: 10px;
}

.goods > .shoppingCon > .shopping {
	color: #999;
	text-decoration: none;
	display: inline-block;
	max-width: 122px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 10px;
}

.goods > .shoppingCon > .shopping:hover {
	color: #c81623;
}

.icon1,
.icon3,
.icon2 {
	float: left;
	height: 16px;
	line-height: 16px;
	padding: 0 3px;
	margin-right: 3px;
	overflow: hidden;
	text-align: center;
	font-style: normal;
	font-size: 12px;
	font-family: "Helvetica Neue", "Hiragino Sans GB", SimSun, serif;
	background: #e23a3a;
	color: #fff;
	cursor: default;
	border-radius: 2px;
}

.icon4 {
	float: left;
	height: 14px;
	line-height: 14px;
	padding: 0 3px;
	border: 1px solid #e23a3a;
	margin-right: 3px;
	overflow: hidden;
	text-align: center;
	font-style: normal;
	font-size: 12px;
	font-family: "Helvetica Neue", "Hiragino Sans GB", SimSun, serif;
	border-radius: 2px;
	color: #e23a3a;
}

.icon3 {
	background: #31c19e;
}

.icon2 {
	float: left;
	height: 14px;
	line-height: 14px;
	line-height: 16px\0;
	padding: 0 3px;
	margin-right: 3px;
	overflow: hidden;
	text-align: center;
	font-style: normal;
	font-size: 12px;
	font-family: "Helvetica Neue", "Hiragino Sans GB", SimSun, serif;
	border-radius: 2px;
	border: 1px solid #4d88ff;
	color: #4d88ff;
	background-color: white;
}

.double11 {
	position: absolute;
	right: 10px;
	top: 20px;
}

/* footer */
.footer {
	width: 100%;
	/* height: 810px; */
}
.footer .footer_top {
	width: 100%;
	height: 330px;
	background-color: #fff;
}
.footer .footer_bot {
	width: 100%;
	/* height: 430px; */
	/* background-color: #000; */
}
.footer_top a {
	margin-top: 20px;
	position: relative;
	display: inline-block;
	width: 290px;
	height: 100px;
}
.footer_top .imgPos {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 40px;
	height: 40px;
}
.footer_top .pBold {
	margin-top: 15px;
	margin-left: 70px;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	font-weight: bold;
	color: #000;
}
.footer_top .pLight {
	margin-left: 70px;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	color: #999;
	margin-top: -15px;
}
.w_bot {
	height: 90px;
	padding-top: 20px;
	border-top: 1px solid #ccc;
}
.w_bot dl {
	float: left;
	width: 180px;
	height: 150px;
	padding-left: 50px;
}
.w_bot .notice {
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	font-weight: bold;
	color: #000;
}
.w_bot .notice_L {
	font-size: 12px;
	color: #999;
}
.w_bot .notice_L img {
	width: 105px;
	height: 105px;
}
.footer_bot {
	padding-bottom: 30px;
	background-color: #000;
}
.footer_bot .about {
	height: 30px;
	padding: 5px 0;
	font-size: 12px;
	color: #fff;
}
.footer_bot .company {
	height: 25px;
	padding: 5px 0;
	font-size: 12px;
	color: #fff;
}
.footer_bot .company a {
	color: #fff;
}
.footer_bot .desc-img {
	height: 200px;
	font-size: 12px;
	color: #eee;
	margin-top: 5px;
}
.footer_bot .desc-img span {
	height: 22px;
	display: inline-block;
	margin-right: 50px;
	font-size: 12px;
	color: #999;
}
.footer_bot .desc-img img {
	margin: 30px 70px 0 0;
}
